name: "Vprofile IAC"
on:
  push:
    branches:
      - main
      - stage
    paths:
      - 'terraform/**'
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/**'



env:
  # Credentials for Terraform Cloud
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  # s3_bucket: ${{ secrets.S3_BUCKET }}
  # s3_region: ${{ secrets.S3_REGION }}
  BUCKET_TF_STATE: ${{ secrets.AWS_S3_BUCKET }}
  AWS_REGION: US-EAST-2
  EKS_CLUSTER_NAME: vprofile-eks
   
jobs:
  terraform:
    name: "Terraform init, fmt, validate and plan"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform
    steps:
      - name: Checkout iac code repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        # with:
        #   terraform_version: 1.7.6

      - name: Terraform Init
        id: init
        working-directory: ./terraform
        run: terraform init -backend-config="bucket=$BUCKET_TF_STATE"

      - name: Terraform Format Check
        working-directory: ./terraform
        run: terraform fmt -check

      - name: Terraform Validate
        id: validate
        working-directory: ./terraform
        run: terraform validate

      - name: Terraform Plan
        id: plan
        working-directory: ./terraform
        run: terraform plan -no-color -input=false  -out= planfile
        continue-on-error: true

      - name: Terraform plan status 
        if: steps.plan.outcome == 'failure'
        run: exit 1
      
